openapi: 3.0.1
info:
  title: STD 21101
  
  
  version: 1.0.0

servers:
- url: https://std21101.com

tags:
- name: Students

paths:
  /students:
    post:
      tags:
      - Students
      summary: Create New Students
      description: Create New Students From an Array
      
      requestBody:
        description: Students To Be Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Students'
          
        required: true
      responses:
        200:
          description: List Of Students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStudents'
      
        400:
          description: Bad Request
          content: {}
      
    get:
      tags:
      - Students
      summary: Gets All Students
      description: Get All Students with Details
      operationId: findStudentsByStatus
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: page_Size
        in: query
        required: true
        schema:
          type: integer
          
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Students'
      
        400:
          description: Bad Request
          content: {}
    
 
 
components:
  schemas:
    CreateStudents:
      type: object
      properties:
        name:
          type: string
          description: Order Status
      
    Students:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Category
